.claude
.vscode
bin
test-source/tests/*/test-results/*
test-source/tests/*/.codegen-out/
test-source/build
build/
test-source/tests/codegen/.codegen-out
test-source/tests/codegen/test-results
test-source/tests/*/test-results
.flux/sessions
dist
node_modules
